{{! 
Це код container файлу для index сторінки, 
в якому міститься код, котрий буде віддаватися по шляху (PATH) - "/"
 }}

<main>
  <div class='form'>
    <div class='form-card'>
      <div class='form-content'>
        <div>
          <h1 class='card-title'>{{data.message}}</h1>
          <p class='form__label'>{{data.info}}</p>
        </div>
        <a
          class='form-button'
          href='{{data.link}}'
        >Повернутися назад</a>
      </div>
    </div>
  </div>
</main>
{{! 
    Цей код містить лише те, що буде виводитись в <body>
    Адже наш layout/default.hbs має вже структуру HTML
}}