@use "../../lib/service.scss" as s;
main {
    display: flex;
    flex-direction: column;
    gap: s.space(10);
    padding: s.space(10);
}


.form {
    display: flex;
    flex-direction: column;
    padding: s.space(4);
    gap: s.space(8);
}

   .form-content {
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: s.space(6);
    }
    .form-column{
        flex-direction: column;
        gap: s.space(10);
    }

    .form-card{
        padding: 20px;
        border-radius: 10px;
        box-shadow: 10px 10px 10px #efe5e5;
        
    }
    .card-title{
        font-size: 18px;
        font-weight: 500;

    }
    
    .card-description {
        font-size: 14px;
    }

    .form-button{
        background-color: s.color("primary");
		color: #fff;
		border: 1px solid s.color("primary");
		text-align: center;
		padding: s.space(2);
		border-radius: 5px;
		text-decoration: none;
        width: 280px;
        max-width: 100%;
    
    }





