

@use "../../lib/service.scss" as s;

@use "../../component/divider/style.scss" as divider;
@use "../../component/field/style.scss" as field;


.form {
    display: grid;
    padding: s.space(10);
    gap: s.space(8);

   
    &__title{
        font-size: 40px;
        font-weight: bold;
        padding: s.space(5);
        color: s.color("primary");
        margin-bottom: s.space(5);
    }
    &__content {
        display: grid;
        grid-template-rows: repeat(4, 1fr);
        gap: s.space(3);
        padding: s.space(10);
    }

    &__card {
		display: flex;
		justify-content: space-between;
		gap: s.space(3);
		align-items: center;
        color: s.color("description");
        font-size: 14px;
        margin-bottom: s.space(16);
	}
}

