

@use "../../lib/service.scss" as s;

@use "../../component/divider/style.scss" as divider;
@use "../../component/field/style.scss" as field;


main {
    display: flex;
    flex-direction: column;
    gap: s.space(10);
    padding: s.space(10);
}
.form {
    display: flex;
    flex-direction: column;
    padding: s.space(10);
    gap: s.space(8);
    margin-bottom: s.space(5);

   
    &__title{
        font-size: 30px;
        font-weight: bold;
        padding-bottom: s.space(1);
        color: s.color("primary");
    }
}

.purchase-content {
    text-decoration: none;
}
.purchase-item {
    display: flex;
    justify-content: space-between;
    padding-bottom: s.space(20);
   

    &__block {
        color: s.color("description");
        font-size: 14px;
       
    }
    
}


