

@use "../../lib/service.scss" as s;

@use "../../component/heading/style.scss" as heading;
@use "../../component/purchase-product/style.scss" as purchaseProduct;
@use "../../component/divider/style.scss" as divider;
@use "../../component/field/style.scss" as field;
@use "../../component/button/style.scss" as button;



main {
	display: grid;
	gap: s.space(10);
	padding: s.space(10);
}

.product {
	&-info {
		display: flex;
		flex-direction: column;
		gap: s.space(4);
		align-items: flex-start;
	}
	&-info__title{
		font-size: 18px;
		font-weight: 600;
	}

	&-info__image {
		max-height: 300px;
		width: 100%;
	}
	&-info__subtitle {
		font-size: 16px;
		color: s.color("black");
	}

	&-list {
		width: 100%;
		display: grid;
		grid-template-columns: 1fr 1fr;
		gap: s.space(5);
	}
}

